<div ng-controller="EntityTypesController as ctrl">
    <h2 class="mb-3">Entity types</h2>
    <div ng-if="ctrl.entityTypes">
        <ul class="list-group">
            <li ng-repeat="entityType in ctrl.entityTypes" class="list-group-item">
                <a ui-sref="entityType({ name: entityType.name })">
                    <span class="lead">{{entityType.name}}</span>
                </a>
                <small class="text-muted" ng-if="entityType.baseType">inherits {{entityType.baseType}}</small>
            </li>
        </ul>
    </div>
</div>
